@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --primary: #FB1963;
}


body{
    background-color: #123075;
}

.App{
    overflow-x: hidden;
}

.Homepage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Homepage__top{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Homepage__bgbox1{
    position: absolute;
    left:60vw;
    top:-15vh;
    width: 1000px;
    height: 1000px;
    background-color: rgba(26,71,176, 0.2);
    border-radius: 100px;
    transform: rotate(-45deg);
    z-index: -1;
}
  
.Homepage__bgbox2{
    position: absolute;
    left:11vw;
    top:40vh;
    width: 1000px;
    height: 1000px;
    background-color: rgba(26,71,176, 0.2);
    border-radius: 100px;
    transform: rotate(-45deg);
    z-index: -1;
}

.Homepage__titleText{
    margin-top: 112px;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(4vw, 10px, 38px);
    text-align: center;
    color: #e5e5e5;
    position: relative;
}

.Homepage__smallText{
    color: #709BE7;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}

.Homepage__buttons{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    cursor: pointer;
}

.Homepage__button{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    width: 166px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    outline:none;
    color:#1A47B0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.primary{
    background-color: var(--primary);
    color:  white;
}

.Homepage__iphone{
    position: absolute;
    bottom: 0;
    right: 5vw;
    z-index: 10;
    width: 40vw;
    max-width: 500px;
    min-width: 300px;
    object-fit: contain;
}

.Homepage__browser{
    position: relative;
    top:0px;
    width: 80vw;
    max-width: 1000px;
    min-width: 600px;
    object-fit: contain;
}

.Homepage__features{
    background-color: #FBFCFC;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Homepage__featureTitle{
    color: #0F358E;
    font-size: clamp(30px, 3vw, 43px);
    font-family: 'Roboto', sans-serif;
    margin-top: 20vh;
    text-align: center;
}

.Homepage__steps{
    margin-top: 2vh;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    flex-wrap: wrap;
}

.Homepage__card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Homepage__card_elevated{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 50px;
    box-shadow: 20px 30px 50px 10px #ccc;
    border-radius: 5px;
    margin-bottom: 150px;
}

.Homepage__card_title{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    color: #0F358E;
    margin-top: 40px;
}

.Homepage__card_description{
    width: 240px;
    margin-top: 10px;
    font-family: 'Roboto';
    font-size: 16px;
    color: #595F6F;
    height: 100px;
}

.Homepage__number{
    margin-top: 100px;
    background-color: var(--primary);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    margin-left: 10px;
    color: white;
}

.Homepage__display{
    background-color: white;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5vw;
    align-items: center;
    z-index: 2;
}

.Homepage__display_left{
    width: 50vw;
    display: flex;
}


.show_on_mobile{
    display: none;
}


.Homepage__display_right{
    width: clamp(10px, 80vw, 500px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.Homepage__display_title{
    color: #1A47B0;
    font-family: 'Roboto';
    font-size: clamp(25px, 4vw, 36px);
    margin-top: 40px;
}

.Homepage__display_description{
    color: #595F6F;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 60px;
}

.Homepage__footer{
    width: 100vw;
    display: flex;
    flex-direction: row;
    background: linear-gradient(100deg, #122F74 0%, #092056 25%);
    overflow: hidden;
    position: relative;
    height: 400px;
}


.Homepage__footer_1{
    width: 30vw;
    margin: 7vw;
    z-index: 2;
}

.Homepage__footer_1_title{
    font-size: clamp(25px, 2vw, 30px);
    font-weight: 600;
    color: white;
    margin-bottom: 40px;
}

.Homepage__footer_1_bigText{
    font-size: 18px;
    color: white;
    font-family: 'Roboto';
    margin-bottom: 15px;
}

.Homepage__footer_1_smallText{
    color: #709BE7;
    font-family: 'Roboto';
    font-size: 14px;
}

.Homepage__footer_1_socials{
    margin-top: 40px;
}

.Homepage__social_icon{
    margin-right: 10px;
}

.Homepage__footer_2{
    display: flex;
    flex-direction: column;
    margin: 7vw;
}

.Homepage__footer_2_bigText{
    font-family: 'Roboto';
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
}

.Homepage__footer_2_smallText{
    font-family: 'Roboto';
    color: #709BE7;
    font-size: 14px;
    margin-bottom: 10px;
}

.Homepage__navigation_items{
    display: flex;
    flex-direction: column;
}

.Homepage__footer_3{
    margin: 7vw;
}

.Homepage__footer_bgbox{
    width: 1000px;
    height: 1000px;
    border-radius: 100px;
    z-index: 1;
    position: absolute;
    left:-490px;
    top: -300px;
    background-color: rgba(26,71,176, 0.2);
    transform: rotate(45deg);
    overflow: hidden;
    border: 0.5px rgba(151,151,151, 0.2) solid;
}

@media only screen and (max-width: 685px) {
    .Homepage__footer{
        flex-direction: column;
        height: auto;
        width: 100vw;
        padding: 20px;
        padding-left: 40px;
    }
    .Homepage__footer_1{
        width: 80vw;
        margin: 10px;
    }
    .Homepage__footer_2{
        width: 80vw;
        margin: 10px;
    }
    .Homepage__footer_3{
        width: 80vw;
        margin: 10px;
    }
    .Homepage__navigation_items{
        flex-direction: row;
    }
    .Homepage__footer_2_smallText{
        margin-right: 30px;
    }
    .Homepage__steps{
        justify-content: center;
    }
    .Homepage__display{
        flex-direction: column;
    }
    .Homepage__display_left{
        order: 2;
    }
    .show_on_mobile{
        display: block;
        width: 95vw;
        margin-left: 100px;
    }
    .hide_on_mobile{
        display: none;
    }
}