.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  padding: 20px;
  z-index: 1;
  display: flex;
  justify-content: space-between;

  /* Animations */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav_logo {
  position: fixed;
  left: 20px;
  width: 80px;
  object-fit: contain;
}

.nav_avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}

.nav_black {
  background-color: #111;
}
